body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

/* Bandeau de sélection de la grille */

.configuration {
  background-color: rgb(184, 140, 255);
  height: 10vh;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pix-logo {
  position: fixed;
  left: 50px;
  height: 10%;
}

input {
  border: none;
  height: 45px;
  width: 180px;
  text-align: center;
  margin-right: 2px;
}

button {
  border: none;
  background-color: rgb(171, 30, 253);
  color: white;
  height: 47px;
  width: 150px;
  border-radius: 0 10px 10px 0;
  font-weight: bold;
}

/* Zone de jeu */

.grid-container {
  background-color: rgb(92, 62, 199);
  height: 90vh;
  display: flex;
  justify-content: center;
}

#pixel-art {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.case {
  background-color: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
  border: 1px rgba(0, 0, 0, 0.6) solid;
}

.line {
  display: flex;
}

#grid {
  border-radius: 10px 0 0 10px;
}

input, button {
  font-size: 16px;
}

/* Bandeau de sélection des couleurs */

#color-selection {
  background: rgb(110, 84, 207);
  width: 50px;
  height: 90vh;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.black {
  background-color: black;
}

.pixel {
  background-color: rgb(255, 255, 255);
}

.color {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin: 5px;
}

.color--current {
  height: 30px;
  width: 30px;
}

.color--dark, .pixel--dark {
  background-color: rgb(24, 24, 24);
}

.color--carbon, .pixel--carbon {
  background-color: rgb(68, 68, 68);
}

.color--gray, .pixel--gray {
  background-color: rgb(196, 196, 196);
}

.color--white, .pixel--white {
  background-color: rgb(255, 255, 255);
}

.color--red, .pixel--red {
  background-color: rgb(253, 0, 0);
}

.color--wine, .pixel--wine {
  background-color: rgb(145, 4, 4);
}

.color--lila, .pixel--lila {
  background-color: rgb(194, 122, 253);
}

.color--marine, .pixel--marine {
  background-color: rgb(20, 18, 158);
}

.color--blue, .pixel--blue {
  background-color: rgb(0, 110, 253);
}

.color--apple, .pixel--apple {
  background-color: rgb(184, 255, 70);
}

.color--green, .pixel--green {
  background-color: rgb(56, 187, 52);
}

.color--tree, .pixel--tree {
  background-color: rgb(4, 54, 11);
}

.color--yellow, .pixel--yellow {
  background-color: rgb(255, 230, 0);
}

.color--purple, .pixel--purple {
  background-color:  rgb(135, 34, 218);
}

.color--orange, .pixel--orange {
  background-color:  rgb(255, 137, 2);
}

.color--magenta, .pixel--magenta {
  background-color:  rgb(234, 2, 255);
}

.color--pink, .pixel--pink {
  background-color:  rgb(253, 123, 253);
}

.color--flesh, .pixel--flesh {
  background-color:  rgb(240, 212, 207);
}

.color--brown, .pixel--brown {
  background-color:  rgb(90, 51, 7);
}

.color--sky, .pixel--sky {
  background-color:  rgb(2, 225, 255);
}



/* Mobile version */

@media screen and (max-width: 450px) {

  #grid {
    border-radius: 0;
  }

  #color-selection {
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .color {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 0 5px;
  }

  form {
    flex-direction: column;
  }
  
  #pix-logo {
    position: fixed;
    left: 10px;
    height: 8%;
  }
  
  .input-container {
    display: flex;
    flex-direction: row;
  }

  input {
    border: none;
    height: 25px;
    width: 100px;
    text-align: center;
    margin-left: 5px;
    font-size: 14px;
  }
  
  button {
    border: none;
    background-color: rgb(171, 30, 253);
    color: white;
    height: 25px;
    width: 100px;
    border-radius: 10px;
    font-weight: normal;
    font-size: 14px;
    margin-top: 5px;
  }
}


/* Tablet version */

@media screen and (min-width: 451px) and (max-width: 1000px) {

  #color-selection {
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid rgb(110, 84, 207);
  }

  .color {
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }
  
  #pix-logo {
    position: fixed;
    left: 10px;
    height: 8%;
  }

  .grid-container {
    height: 80vh;
  }
}